body {
    height: 100vh;
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 100px;
    background: blue;
    border-radius: 20px;
    animation: bouns 3s infinite alternate;
}

@keyframes bouns {

    0% {
        transform: translate(0, 0) rotate(0deg);
        background: blue;
    }

    25% {
        transform: translate(1300px, 0px) rotate(180deg);
        background: yellow;

    }

    50% {
        transform: translate(1300px, 580px) rotate(0deg);
        background: red;
    }

    75% {
        transform: translate(0px, 580px) rotate(180deg);
        background: rgb(212, 76, 99);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
        background: orange;
    }
}